<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link href="../my-message/my-message.css" />-->
		<link rel="stylesheet" href="../my-message/my-message.css" />
	</head>
	<body>
		<div class="my-message">
			<h3><i></i>消息列表（共<span>0</span>条）</h3>
			<ul class="clearfix">
				<li>全部（<span>0</span>）</li>
				<li>我的申请（<span>0</span>）</li>
				<li>我的审批（<span>0</span>）</li>
				<li>分享信息（<span>0</span>）</li>
				<li>数据报送（<span>0</span>）</li>
				<li>系统监控（<span>0</span>）</li>
			</ul>
			<p><b><img src="../img/icon_news.png"/>内容</b><span>时间</span></p>
			<div class="mess-box">
				<ul>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
					<li>
						<a>张三给你分享了一条消息，点击前往分析结果中查看</a>
						<span>2017-07-01 09:30:48</span>
					</li>
				</ul>
			</div>
		</div>
		
	</body>
</html>