<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../my-message/my-message.css" />
	</head>
	<body>
		<ul class="news">
			<li>
				<p>
					<b><img src="../img/icon_news.png" />最新消息</b>
					<a>更多<img src="../img/icon_rightjt.png"/></a>
					<span>您有<i>0</i>条未读消息</span>
				</p>
				<ol>
					<li>第1条消息<span>2017-10-20 14:10:40</span></li>
					<li>第2条消息<span>2017-10-20 14:10:40</span></li>
					<li>第3条消息<span>2017-10-20 14:10:40</span></li>
					<li>第4条消息<span>2017-10-20 14:10:40</span></li>
					<li>第5条消息<span>2017-10-20 14:10:40</span></li>
				</ol>
			</li>
			<li>
				<p>
					<b class="active"><img src="../img/icon_zjb.png"/>分析结果</b>
					<b><img src="../img/icon_fxgc.png"/>分析过程</b>
					<a>更多<img src="../img/icon_rightjt.png"/></a>
				</p>
				<ol>
					<li>第1条消息<span>2017-10-20 14:10:40</span></li>
					<li>第2条消息<span>2017-10-20 14:10:40</span></li>
					<li>第3条消息<span>2017-10-20 14:10:40</span></li>
					<li>第4条消息<span>2017-10-20 14:10:40</span></li>
					<li>第5条消息<span>2017-10-20 14:10:40</span></li>
				</ol>
			</li>
			<li>
				<p>
					<b><img src="../img/icon_zjb.png"/>中间表</b>
					<a>更多<img src="../img/icon_rightjt.png"/></a>
				</p>
				<ol>
					<li>第1条消息<span>2017-10-20 14:10:40</span></li>
					<li>第2条消息<span>2017-10-20 14:10:40</span></li>
					<li>第3条消息<span>2017-10-20 14:10:40</span></li>
					<li>第4条消息<span>2017-10-20 14:10:40</span></li>
					<li>第5条消息<span>2017-10-20 14:10:40</span></li>
				</ol>
			</li>
			<li>
				<p>
					<b class="active"><img src="../img/icon_data.png"/>外部数据</b>
					<b><img src="../img/icon_wendang.png"/>外部文档</b>
					<a>更多<img src="../img/icon_rightjt.png"/></a>
				</p>
				<ol>
					<li>第1条消息<span>2017-10-20 14:10:40</span></li>
					<li>第2条消息<span>2017-10-20 14:10:40</span></li>
					<li>第3条消息<span>2017-10-20 14:10:40</span></li>
					<li>第4条消息<span>2017-10-20 14:10:40</span></li>
					<li>第5条消息<span>2017-10-20 14:10:40</span></li>
				</ol>
			</li>
		</ul>
	</body>
</html>
