ul{
	list-style: none;
}
#sidebar ul.search{
	padding-bottom: 10px;
	background: #f5fbfa;
}

form{
	margin-top: 5px;
}

h3{
	padding: 10px;
	font-size: 16px;
}
input[type='text']{
	width: 200px;
	height:30px;
	font-size: 13px;
	color: #3c3c3c;
	background-image: none;
	border: 1px solid #e5e6e7;
	box-sizing: border-box;
	margin-left:10px;
}
input[type=submit],input[type=button]{
	width: 70px;
	height: 30px;
	background:#00C1DE;
	color:#fff;
	margin-left: 10px;
}
input[type=submit]:hover,input[type=button]:hover{
	background:#009688;
	color:#fff;
	cursor: pointer;
}
label{
	font-size: 13px;
	color:#3C3C3C;
	margin-left:10px;
}
form select{
	width: 200px;
	height:30px;
	line-height: 30px;
	margin-left:10px;
}
form select option{
	font-size: 18px;
	font-weight: 400;
}
form button{
	margin-left: 20px;
}
form textarea{
	width: 200px;
    height: 40px;
    margin-left: 10px;
    vertical-align: top;
}
form .into_li>ul>li{
	margin-bottom: 10px;
}
form>ul>li:nth-child(1){
	margin-bottom: 5px;
    padding-bottom: 10px;
}
form>ul>li:nth-child(2){
}
form>ul>li{
	background: #f5fbfa;
}
form>ul>search_li>p{
	padding: 0px 10px 10px 10px;
}