
<!--
使用的HTML5技术：
hidden属性
nav导航标签
使用css3技术：
box-sizing:border-box;
box-shadow
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>智慧审计首页</title>
		<link rel="stylesheet" href="css/audit_frame.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
	</head>
	<body>
		<header>
			<div class="audit-header">
				<nav class="audit-top">
					<a>
						<img src="imgs/logo.png" />智慧审计
					</a>
					<ul class="first-menu">
						<li>工作桌面
							
						</li>
						<li>信息查询
							
						</li>
						<li>数据资源
							
						</li>
						<li>智慧搜索
							
						</li>
						<li>状态监控
							
						</li>
						<li>系统管理
							
						</li>
					</ul>
					<p>
						<i class="fa fa-user-o" aria-hidden="true"></i>
						<span>user</span>
						<a><i class="fa fa-caret-down"></i></a>
					</p>
				</nav>
				<div class="user-menu-box">
					<div class="triangle-top"></div>
					<div class="user-menu-content">
						<a>修改密码</a>
						<a>退出</a>
					</div>
					
				</div>
			</div>
		</header>
		<div class="audit-main">
			<div class="audit-left"></div>
			<div class="audit-right"></div>
		</div>
		<script type="text/javascript" src="../common/jquery-1.11.2.js" ></script>
		<script type="text/javascript" src="js/audit_frame.js" ></script>
		
	</body>
</html>
