
<!--
使用的HTML5技术：
hidden属性
nav导航标签
使用css3技术：
box-sizing:border-box;
box-shadow
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>智慧审计首页</title>
		<link rel="stylesheet" href="css/audit_frame.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
	</head>
	<body>
		<header>
			<div class="audit-header">
				<nav class="audit-top">
					<a>
						<img src="imgs/logo.png" />智慧审计
					</a>
					<ul class="first-menu">
						<li>工作桌面
							<ul class="second-menu">
								<li><a href="#" ukey="login/LoginController/mineMessage">我的消息</a></li>
								<li><a href="#" ukey="login/LoginController/mineResource">我的资源</a></li>
								<li><a href="#" ukey="login/LoginController/mineRequest">我的申请</a></li>
								<li><a href="#" ukey="login/LoginController/mineResponse">我的审批</a></li>
							</ul>
						</li>
						<li>信息查询
							<ul class="second-menu">
								<li><a href="#" ukey="infoSearch/infoSearchController/baseSearch">基础查询</a></li>
								<li><a href="#" ukey="audit/analysis/analysis">常用分析模型</a></li>
								<li><a href="#" ukey="infoSearch/infoSearchController/leadQuery">向导式查询</a></li>
								<li><a href="#" ukey="infoSearch/infoSearchController/sqlEdit">SQL编辑器</a></li>
							</ul>
						</li>
						<li>数据资源
							<ul class="second-menu">
								<li><a href="#" ukey="dataResource/dataResourceController/getDataResourceDir">资源目录</a></li>
								<li><a href="#" ukey="dataResource/dataResourceController/getKnowLedge">知识库</a></li>
							</ul>
						</li>
						<li>智慧搜索
							<ul class="second-menu">
								<li><a href="#" ukey="infoSearch/infoSearchController/wisSearch">智慧搜索</a></li>
							</ul>
						</li>
						<li>状态监控
							<ul class="second-menu">
								<li><a href="#">应用监控</a></li>
								<li><a href="#">服务器监控</a></li>
								<li><a href="#">通用服务监控</a></li>
								<li><a href="#">数据监控</a></li>
							</ul>
						</li>
						<li>系统管理
							<ul class="second-menu">
								<li><a href="http://172.18.13.134:82/org-server">组织管理</a></li>
								<li><a href="http://172.18.13.134:82/eunomia-server">权限管理</a></li>
								<li><a href="#" ukey="sysmanage/acctmanageController/acctManage">账号管理</a></li>
							</ul>
						</li>
					</ul>
					<p>
						<i class="fa fa-user-o" aria-hidden="true"></i>
						<span>user</span>
						<a><i class="fa fa-caret-down"></i></a>
					</p>
				</nav>
				<div class="user-menu-box" hidden="hidden">
					<div class="triangle-top"></div>
					<div class="user-menu-content">
						<a>修改密码</a>
						<a>退出</a>
					</div>
					
				</div>
			</div>
		</header>
		<div class="audit-main">
			<div class="audit-left" id="shortcut" hidden="hidden">
				<span id="left-expand-btn" class="left-out"></span>
				<!--<ul>
					<li class="add"><img src="imgs/icon_add.png" alt=""/></li>
				</ul>-->
				<!--<ul>
					<li class="add"><img src="imgs/icon_add.png" alt=""/></li>
					<li><i class="icon-message"></i><span>我的消息</span></li>
					<li><i class="icon-resource"></i><span>我的资源</span></li>
					<li><i class="icon-apply"></i><span>我的申请</span></li>
					<li><i class="icon-approve"></i><span>我的审批</span></li>
					<li><i class="icon-baseQuery"></i><span>基础查询</span></li>
				</ul>
				<ul>
					<li><i class="icon-analyse"></i><span>常用分析模型</span></li>
					<li><i class="icon-guide"></i><span>向导式查询</span></li>
					<li><i class="icon-sqlEdit"></i><span>SQL编辑器</span></li>
					<li><i class="icon-directory"></i><span>资源目录</span></li>
					<li><i class="icon-knowledge"></i><span>知识库</span></li>
					<li><i class="icon-wisdom"></i><span>智慧搜索</span></li>
				</ul>-->
			</div>
			<div class="audit-right"></div>
		</div>
		<div id="modal-back">
			<div id="modal">
				<h3>添加快捷方式<i class="delete"></i></h3>
				<div class="term">
					<p>工作桌面<i class="down"></i></p>
					<ul>
						<li iconName="icon-message" shortcutName="">我的消息</li>
						<li iconName="icon-resource" shortcutName="">我的资源</li>
						<li iconName="icon-apply" shortcutName="">我的申请</li>
						<li iconName="icon-approve" shortcutName="">我的审批</li>
					</ul>
				</div>
				<div class="term">
					<p>基础查询<i class="down"></i></p>
					<ul>
						<li iconName="icon-baseQuery" shortcutName="">基础查询</li>
						<li iconName="icon-analyse" shortcutName="">常用分析模型</li>
						<li iconName="icon-guide" shortcutName="">向导式查询</li>
						<li iconName="icon-sqlEdit" shortcutName="">SQL编辑器</li>
					</ul>
				</div>
				<div class="term">
					<p>数据资源<i class="down"></i></p>
					<ul>
						<li iconName="icon-directory" shortcutName="">资源目录</li>
						<li iconName="icon-knowledge" shortcutName="">知识库</li>
					</ul>
				</div>
				<div class="term">
					<p>智慧搜索<i class="down"></i></p>
					<ul>
						<li iconName="icon-wisdom" shortcutName="">智慧搜索</li>
					</ul>
				</div>
				<p>
					<button>确定</button>
				</p>
			</div>
		</div>
		
		<script type="text/javascript" src="../common/jquery-1.11.2.js" ></script>
		<script type="text/javascript" src="js/audit_frame.js" ></script>
		
	</body>
</html>
