#sidebar{
	width: 35%;
	height: 100%;
	float: left;
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;
}
#sidebar ul.search{
	height: 30%;
	background: #f5fbfa;
}
#sidebar h3{
	padding: 10px;
	font-size: 16px;
}
#sidebar form{
	height: 70%;
	background: #f5fbfa;
	margin-top:5px;
}

input[type='text']{
	width: 240px;
	height:40px;
	font-size: 16px;
	color: #3c3c3c;
	background-image: none;
	border: 1px solid #e5e6e7;
	box-sizing: border-box;
	margin-left:20px;
}
input[type=submit],input[type=button],input[type=reset]{
	width: 70px;
	height: 40px;
	background:#00C1DE;
	color:#fff;
	margin-left: 10px;
}
input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover{
	background:#009688;
	color:#fff;
	cursor: pointer;
}
label{
	font-size: 16px;
	color:#3C3C3C;
	margin-left:20px;
}
form select{
	width: 240px;
	height:40px;
	line-height: 40px;
	margin-left:20px;
}
form select option{
	font-size: 16px;
	font-weight: 400;
}
form button{
	margin-left: 20px;
}
form textarea{
	width: 270px;
	height:70px;
	margin-left: 20px;
	vertical-align:top;
}
form .into_li>ul>li{
	margin-bottom: 10px;
}
form>ul>li:nth-child(1){
	height: 40%;
	margin-bottom: 10px;
}
form>ul>li:nth-child(2){
	height: calc(60% - 10px);
}
form>ul>li{
	background: #f5fbfa;
}
form>ul>search_li>p{
	padding: 0px 10px 10px 10px;
}